<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <style>
        .main{
            display: flex;

        }
        .form-group{
            margin: 50px;
        }
    </style>
</head>
<body>
    <div class="main">
        <form action="/dojos/add_to_db" method="POST">
            <div class="form-group">
                <h3>New Dojo</h3>
                <label>Name:</label>
                <input type="text" name="name" id="name" class="form-control">
                <input type="submit" value="Add Dojo" class="offset-btn">
            </div>
        </form>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th><h2>All Dojos</h2></th>
                </tr>
            </thead>
            <tbody>
                {% for this_dojo in all_dojos %}
                <tr>
                    <td><a href="/dojos/{{ this_dojo.id }}">{{ this_dojo.name }}</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
    </div>
    <a href="/ninjas">Add a Student</a>
</body>
</html>